<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl"/>-->

<!--    <bean id="orderDao" class="com.itheima.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

<!--    <bean id="userFactory" class="com.itheima.factory.UserDaoFactory"/>-->
<!--    <bean id="userDao" factory-bean="userFactory" factory-method="getUserDao"/>-->

    <bean id="userDao" class="com.itheima.factory.UserDaoFactoryBean"/>

</beans>